<%- include('../partials/frontend/header') %>
    <!-- breadcrumb start -->
    <div class="breadcrumb-area bg-overlay-2" style="background-image:url('assets/img/other/4.png')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title text-center">
                    <h2 class="page-title">About Us</h2>
                    <ul class="page-list">
                        <li><a href="index.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end --> 

    <!-- about area start -->
    <div class="about-area bg-gray pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="single-about-inner about-line-right bg-white">
                <div class="row no-gutter">
                    <div class="col-lg-4 order-lg-12">
                        <div class="thumb" style="background: url(/frontend/img/banner/weather-effect-collage.jpg);"></div>
                    </div>
                    <div class="col-lg-8 order-lg-1">
                        <div class="details">
                            <div class="section-title mb-4">
                                <h6>Discover verified land deals with unmatched value</h6>
                                <h2>Trusted Land Portal.</h2>
                                <p>Welcome to Zameensale – India’s #1 Land Portal!

                                    We are more than just a platform for buying and selling land; we are the key to unlocking your land investment potential. Whether you're looking to secure residential, commercial, or agricultural land, we provide an easy, transparent, and secure way to do it.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="single-list-inner">
                                        <li>Verified Land Listings</li>
                                        <li>Nationwide Reach</li>
                                        <li>Secure Transactions</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="single-list-inner">
                                        <li>Comprehensive Listings</li>
                                        <li>Trust & Transparency</li>
                                        <li>End-to-End Support</li>
                                    </ul>
                                </div>
                            </div>  
                            <!-- <a class="btn btn-base" href="#">SEE MORE</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->


    <!-- footer area start -->
        <%- include('../partials/frontend/footer') %>