<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zameen-sale</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/css/iofrm-theme18.css">
</head>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="/">
                <!-- <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div> -->
            </a>
        </div>
        <div class="iofrm-layout">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="images/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3 class="mb-4">Register</h3>
                        <% if (typeof error !== "undefined") { %>
                            <div style="color: red;" class="alert alert-danger">
                              <%= error %>
                            </div>
                          <% } %>
                        <!-- <p>Access to the most powerfull tool in the entire design and web industry.</p> -->
                        <form action="/register" method="POST">
                            <input class="form-control" type="email" name="email" placeholder="E-mail Address" >
                            <input class="form-control" type="number" name="phone" placeholder="phone no" >
                            <input class="form-control" type="password" name="password" placeholder="Password"  >
                            
                                    <select class="form-control" name="role">
                                        <% roles.forEach(role => { %>
                                            <option value="<%= role.role_name %>"><%= role.role_name %></option>
                                        <% }); %>
                                    </select>
                                    
                               
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Register</button>
                            </div>
                        </form>
                        <!-- <div class="other-links social-with-title">
                            <div class="text">Or register with</div>
                            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
                        </div> -->
                        <div class="page-links" style="text-align: center;margin-top: 10px;">
                            
                              <span>Already have an account?   <a href="/login">Sign In</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>